In [1]:
# 001
print("Hello World")

Hello World

In [2]:
# 002
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
# 003
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
# 004
print('"C:\Windows"')

"C:\Windows"

In [5]:
# 005
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [6]:
# 006
print ("오늘은", "일요일")

오늘은 일요일

In [9]:
# 007
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

In [11]:
# 008
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [13]:
# 009
print("first",end='');print("second")

firstsecond

In [14]:
# 010
print(5/3)

1.6666666666666667

In [15]:
# 011
samsung = 50000
total_val = samsung * 10
print(total_val)

500000

In [16]:
# 012
mkcap = 298000000000
samsung = 50000
per = 15.79
print(mkcap, samsung, per)

298000000000 50000 15.79

In [17]:
# 013
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [18]:
# 014
print(2+2*3)

8

In [19]:
# 015
a = "132"
type(a)

str

In [20]:
# 016
num_str = "720"
int(num_str)

720

In [21]:
# 017
num = 100
str(num)

'100'

In [22]:
# 018
num = "15.79"
float(num)

15.79

In [23]:
# 019
year = "2020"
year_n = int(year)
print(year_n - 1, year_n - 2, year_n - 3)

2019 2018 2017

In [24]:
# 020
m_cost = 48584
t_cost = m_cost * 36
print(t_cost)

1749024

In [25]:
# 021
letters = 'python'
print(letters[0], letters[2])

p t

In [28]:
# 022
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [29]:
# 023
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [30]:
# 024
string = "PYTHON"
print(string[::-1])

NOHTYP

In [31]:
# 025
phone_number = "010-1111-2222"
pn = phone_number.replace("-"," ")
print(pn)

010 1111 2222

In [33]:
# 026
pn2 = phone_number.replace("-","")
print(pn2)

01011112222

In [34]:
# 027
url = "http://sharebook.kr"
domain = url.split('.')[-1]
print(domain)

kr

In [35]:
# 028
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [37]:
# 029
string = 'abcdfe2a354a32a'
string = string.replace("a", "A")
print(string)

Abcdfe2A354A32A

In [38]:
# 030
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [39]:
# 031
a = "3"
b = "4"
print(a + b)

34

In [40]:
# 032
print("Hi" * 3)

HiHiHi

In [41]:
# 033
print("-"* 80)

--------------------------------------------------------------------------------

In [43]:
# 034
t1 = 'python'
t2 = 'java'
print((t1+ ' ' +t2 + ' ') * 4)

python java python java python java python java

In [53]:
# 035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름 : %s 나이 : %d' %(name1,age1), '이름 : %s 나이 : %d' %(name2,age2), sep='\n')

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [54]:
# 036
print('이름 : {} 나이 : {}'.format(name1,age1), '이름 : {} 나이 : {}'.format(name2,age2), sep='\n')

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [55]:
# 037
print(f"이름: {name1} 나이: {age1}", f"이름: {name2} 나이: {age2}", sep='\n')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [57]:
# 038
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(",",""))
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [58]:
# 039
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [59]:
# 040
data = "   삼성전자    "
data = data.strip()
print(data)

삼성전자

In [61]:
# 041
ticker = "btc_krw"
ticker = ticker.upper()
print(ticker)

BTC_KRW

In [62]:
# 042
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [65]:
# 043
hello = 'hello'
hello = hello.replace(hello[0],hello[0].upper())
print(hello)

a = 'hello'
a = a.capitalize()
print(a)

Hello
Hello

In [68]:
# 044
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [69]:
# 045
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [70]:
# 046
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [72]:
# 047
a = "hello world"
a.split()

['hello', 'world']

In [73]:
# 048
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [74]:
# 049
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [76]:
# 050
data = "039490     "
data = data.rstrip()
data

'039490'

In [77]:
# 051
movie_rank = ['닥터 스트레인지','스플릿','럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [78]:
# 052
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [80]:
# 053
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [81]:
# 054
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [82]:
# 055
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [85]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [87]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]
print(f" max: {max(nums)}", f" min: {min(nums)}",sep='\n')

 max: 7
 min: 1

In [88]:
# 058
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [89]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [91]:
# 060
nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

In [92]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [93]:
# 062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [94]:
# 063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [95]:
# 064
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [98]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [99]:
# 066
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [100]:
# 067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [101]:
# 068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [102]:
# 069
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [103]:
# 070
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [106]:
# 071
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [107]:
# 072
movie_rank = '닥터 스트레인지', '스플릿', '럭키'
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [108]:
# 073
tp = (1,)
type(tp)

tuple

In [109]:
# 074
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [110]:
# 075
t = 1, 2, 3, 4
type(t)

tuple

In [111]:
# 076
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

In [112]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(interest, type(interest))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [113]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [114]:
# 079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [115]:
# 080
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [119]:
# 081
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [120]:
# 082
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]