# 자료형
- 변수 선언할 때 저장 공간의 타입을 설정함. 
- 공간을 효율적으로 사용하기 위함.
- 동적타이핑 : 변수에 선언할 때 저장되는 값의 타입에 따라 자동으로 공간의 타입이 설정 됨
- 확인하기 : `type(<변수명>)`

In [1]:
a = 1
b = "python"
print(type(a),type(b))

<class 'int'> <class 'str'>

## 자료형의 종류
- int : 숫자
- str : 문자
- float : 실수
- boolean : true, false
- list : 순서가 있는 데이터의 집합
- tuple : 순서가 있는 데이터의 집합, 수정 불가
- dictionary : 순서가 없는 데이터의 집합, key=value의 쌍으로 이루어짐

In [2]:
# int
a,b,c = 1,-5,0
print(type(a),type(b),type(c))

<class 'int'> <class 'int'> <class 'int'>

In [3]:
# float
a,b,c = 1.3,-5.3,0.3
print(type(a),type(b),type(c))

<class 'float'> <class 'float'> <class 'float'>

In [4]:
# boolean (첫자는 대문자로 필수)
a,b = True,False
print(type(a),type(b))

<class 'bool'> <class 'bool'>

In [5]:
# str
a,b = "data", ""
print(type(a),type(b))

<class 'str'> <class 'str'>

In [12]:
c = "data \"science\" 'fast campus' "
print(c)

data "science" 'fast campus'

## 데이터 타입에 따른 연산

In [13]:
a= 1+2
print(a)

3

In [14]:
a,b=2,3
print(a+b)

5

In [15]:
a,b="2","3"
print(a+b)

23

In [17]:
a= "python " * 5
print(a)

python python python python python

### quiz : 
- 변수의 선언 및 문자의 사용을 최소화 해서 다음을 출력하시오

```
hello python hello python hello python
```

In [23]:
data = "hello python "
print(data*3)

hello python hello python hello python

### quiz : 
- 변수의 선언 및 문자의 사용을 최소화 해서 다음을 출력하시오

```
hello hello hello python python python 
```

In [26]:
a,b="hello ","python "
print((a*3)+(b*3))

hello hello hello python python python

In [28]:
## 문자열의 길이 확인
a = "abcdefd"
print(len(a))

7

## 오프셋 (offset)
- 특정 위치의 데이터를 선택하는 방법
- [index] : 특정 위치의 하나의 것
- [start:end] : 시작과 끝
- [start:end:stride] : 시작과 끝을 선택하되 점프하여

In [29]:
a="1234567"
print(a[3])

4

In [31]:
print(a[2:4])

34

In [32]:
print(a[0:4])

1234

In [35]:
print(a[ : ])

1234567

In [36]:
print(a[ : :2])

1357

In [38]:
print(a,a[3:],a[-2:])

1234567 4567 67

In [39]:
print(a,a[4:],a[-2::-2])

1234567 567 642

### quiz : 
- 변수의 선언 및 문자의 사용을 최소화 해서 다음을 출력하시오

```
data = "hello world"
result => "world hello"
```

In [46]:
data = "hello world"
data1 = data[:5]
data2 = data[6:]
result = data2 + " " +data1
print("result :",result)

result : world hello

### quiz : 
- 0~9 까지의 문자열을 짝수만 거꾸로 출력

In [62]:
data = "0123456789"
result = data[-2::-2]
print(result)

86420

In [76]:
result2 = data[::2]
print(result2[::-1])

86420

In [75]:
result3 = data[::2][::-1]
print(result3)

86420

In [81]:
result4 = data[-2::-2]
print(result4)

86420

In [82]:
## 문자열 함수
a = "abcde"
print(a.upper())

ABCDE

In [83]:
print(a)

abcde

In [90]:
a = a.upper()
print(a)

ABCDE

In [88]:
a = a.lower()
print(a)

abcde

In [92]:
## 문자열 치환 함수
a = "python data science"
a = a.replace("python","fastcampus")
print(a)

fastcampus data science

In [94]:
## 앞뒤 공백 제거 함수
a = "     data science   "
a = a.strip()
print(a)

data science

In [95]:
## 특정 문자열의 위치를 확인
a = "fast campus data science"
print(a.find("campus"))

5

### quiz : 
- string_1,string_2를 사용하여 data 변수에 `hello python!`이 작성되도록
```
string_1 = "hello "
string_2 = "python "
```

In [101]:
string_1 = "hello "
string_2 = "python "
result = string_1 + string_2.strip() + "!"
result2 = string_1 + string_2[:-1] + "!"
print(result2)

hello python!

### quiz : 
- offset과 문자열을 활용하여 첫 문장을 대문자로, 끝에는 마침표가 찍히도록
```
data = " i like python "
result = "I like pytho."
```

In [111]:
data = " i like python "
data_strip = data.strip()
result = data_strip[0].upper()+data_strip[1:]+"."
print(result)

I like python.