# 반복문
- while, for
- break, continue
- list comprehension

## while
- condition이 false가 될 때까지 반복적으로 실행
```
while <condition>:
    <code>
```
- 무한 루프에 빠질 위험이 있기에 주의해서 사용

In [4]:
data = 3
while data:
    print(data)
    data -= 1
print("end :",data)

3
2
1
end : 0

In [5]:
data = 3
while data:
    data -= 1
    print(data)
print("end : ",data)

2
1
0
end :  0

In [17]:
# 학생이 국어 80, 영어 90, 수학 100. while 문을 이용해서 총점과 평균
grades = {"kor" : 80, "eng" : 90 , "math" : 100}
points = list(grades.values())
#pop()을 쓸 경우 원본 데이터가 날아가기 때문에 깊은 복사를 써서 사용
points_datas = points.copy()

total, avg = 0, 0
while points_datas :
    total += points_datas.pop()
avg = total / len(grades)
print("total : {} , avg : {}".format(total,avg))

total : 270 , avg : 90.0

In [18]:
# 무한루프 => 나오려면 I + I , (Interrupt)
while True:
    a = 1

KeyboardInterrupt:

## quiz
- ls의 값을 다 더하는 while 문 코드?
```
ls = [1,2,3,4,5,6,7,8,9,10]
```

In [10]:
ls = [1,2,3,4,5,6,7,8,9,10]
total = 0
i = 0
while len(ls) > i :
    total +=  ls[i]
    i += 1
total

55

In [16]:
ls = [1,2,3,4,5,6,7,8,9,10]
le = len(ls)
total = 0
while le:
    total += ls[le-1]
    le -= 1
total

55

In [21]:
ls = [1,2,3,4,5,6,7,8,9,10]
result = 0
idx = len(ls)
while idx:
    idx -= 1
    result += ls[idx]
result

55

## 2.break
- 반복문의 중간에 break를 만나게 되면 중단

In [19]:
data = 1
while data:
    print(data)
    if data >= 10:
        break
    data += 1
data

1
2
3
4
5
6
7
8
9
10

10

## 3.continue
- 반복문이 실행되는 중간에 continue를 만나게 되면 <condition>으로 돌아감

In [25]:
a = [1,2,3,4,"q"]
idx = 0
while True:
    data = a[idx]
    idx += 1
    
    if data =="q":
        break
    elif data % 2 == 0:
        continue
        
    print(data)

1
3

## quiz :
- q를 입력할 때까지 계속 값을 받아서 q를 입력할 때까지 입력 받은 모든 입력 데이터를 출력
- 데이터를 입력받을 때 몇번째 입력인지도 출력

In [36]:
value = []
idx = 0
while True:
    txt = input("input : ")
    if txt == "q":
        break
    value.append(txt)
    idx += 1
    print("{}번째 입력입니다.".format(idx), txt)    
print(value)

input : d
1번째 입력입니다. d
input : q
['d']

In [38]:
count, result = 0,[]

while True:
    count += 1
    data = input("{}번째 입력 (종료 : q) :".format(count))
    
    if data == "q":
        break
    
    result.append(data)
print(result)

1번째 입력 (종료 : q) :data
2번째 입력 (종료 : q) :science
3번째 입력 (종료 : q) :python
4번째 입력 (종료 : q) :q
['data', 'science', 'python']

## 4.for
- 순서가 있는 데이터의 집합(iterable : 리스트, 튜플)에서 데이터를 하나씩 꺼내서 변수에 대입 후, `code`를 실행

    
```
for <변수> in <집합 : Iterable> :
    <code>
```


- range
- enumerate
- zip

In [39]:
ls = [0,1,2,3,4]
for value in ls:
    print(value,end=" ")

0 1 2 3 4

## dictionary.items() 
=> 딕셔너리를 for문을 돌리고 싶을 때 리스트와 튜플의 합성 형태로 만들어서 사용

In [24]:
# dictionary를 사용한 for 반복문
dic = {1:"A",2:"B"}
for key in dic:
    print(key)

dic.items()

for key, value in dic.items():
    print(key,value)

1
2
1 A
2 B

In [21]:
# 학생이 국어 80, 영어 90, 수학 100. while 문을 이용해서 총점과 평균
grades = {"kor" : 80, "eng" : 90 , "math" : 100}
list(grades.items())
total = 0
for i in grades.items():
    total += i[1]
print(total)

270

## zip 활용
- 두 list를 동시에 for문을 돌리고 싶을 때
```python
    zip(list1, list2)
```
 => `<class zip>` 으로 튜플과 리스트의 결합 형태로 나옴

In [29]:
subjects_ls = ['kor', 'eng' , 'math', 'jp']
points_ls = [80, 90 ,100]
for sub, pnt in zip(subjects_ls, points_ls):
    print(sub, pnt)

print(list(zip(subjects_ls, points_ls)))

kor 80
eng 90
math 100
[('kor', 80), ('eng', 90), ('math', 100)]

### quiz
- for문을 이용하여 아래 리스트에 있는 숫자를 전부 더하시오

```
numbers = [1,3,5,8,10,14]
result=>41
```

In [46]:
total = 0
numbers = [1,3,5,8,10,14]
for num in numbers:
    total += num
total

41

## dictionary.items() 
=> 딕셔너리를 for문을 돌리고 싶을 때 리스트와 튜플의 합성 형태로 만들어서 사용

### 4.1 range
- list를 간편하게 생성하는 함수
- 함수 : 코드의 집합을 실행시켜주는 방법
```
range(end)
range(start,end)
range(start,end,stride)
```

In [48]:
ls = [1,2,3]
ls

[1, 2, 3]

In [49]:
for _ in ls:
    print("data science",end=" ")

data science data science data science

In [50]:
list(range(3))

[0, 1, 2]

In [51]:
for _ in range(3):
    print("data science")

data science
data science
data science

In [54]:
list(range(1,4))

[1, 2, 3]

In [55]:
list(range(2,4,5))

[2]

In [57]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### quiz
- 5를 입력했을 때 아래와 같이 별이 출력되는 코드를 출력하시오

```
 *
 **
 ***
 ****
 *****
```

In [61]:
idx = 1
for _ in range(5):
    print("*"*idx)
    idx += 1

*
**
***
****
*****

In [65]:
number = 5
for num in range(1,number+1):
    print("*"*num)

*
**
***
****
*****

### quiz
- 5를 입력했을 때 아래와 같이 별이 출력되는 코드를 출력하시오

```
     *
    **
   ***
  ****
 *****
```

In [67]:
number = 5
for num in range(1,number+1):
    print(" "*(number-num),"*"*num)

     *
    **
   ***
  ****
 *****

In [70]:
number = 5
for num in range(1,number+1):
    space = number - num
    print(" " * space + "*" * num)

    *
   **
  ***
 ****
*****

### quiz
- 홀수만 입력 가능
- 5를 입력하면 아래와 같이 별이 출력

```
    *
   ***
  *****
```

In [86]:
number = int(input("홀수만 입력 : "))
for num in range(1,number+1):
    if num % 2:
        space = (number - num) // 2
        print(" " * space + "*" * num)
    else:
        continue

홀수만 입력 : 4
 *
***

In [90]:
number = 5
space = number // 2
for num in range(1,number + 1,2):
    print(" " * space + "*" * num)
    space -= 1

  *
 ***
*****

### quiz 7
- 구구단의 단을 입력하면 해당 단을 출력하는 코드 작성

In [1]:
number = int(input("input number : "))
print("{}단".format(number))
for num in range(1,10):
    mul = number * num
    print("{}*{}={}".format(number,num,mul))

# 7 1 7
# 7 2 14

input number : 9
9단
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [22]:
for i in range(2,10):
    for j in range(1,10):
        print("{}*{}={}".format(i,j,i*j),end='\t')
    print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [21]:
for i in range(1,10):
    for j in range(2,10):
        print("{}*{}={}".format(j,i,j*i),end='\t')
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

### quiz
- 아래의 2개의 리스트 데이터를 dictionary data로 만드시오

```
subject=["kor","eng","math","sci"]
points=[100,80,90,60]
```

- dictionary에 새로운 값 넣는 방법 : dic[key] = value

In [131]:
subject=["kor","eng","math","sci"]
points=[100,80,90]

count = len(points) if len(subject) > len(points) else len(subject)

# rele = 0
# if len(subject) > len(points):
#     rele = len(points)
# else:
#     rele = len(subject)

    
    
result = {}
for idx in range(count):
    result[subject[idx]] = points[idx]
result

{'kor': 100, 'eng': 80, 'math': 90}

### 4.2 enumerate
- 리스트 데이터의 인덱스와 값을 동시에 사용할 수 있게 하는 함수

In [133]:
# 과목명과 과목번호를 같이 출력
subjects=["kor","eng","math","sci"]

for num in range(len(subjects)):
    print(num + 1 ,subjects[num])

1 kor
2 eng
3 math
4 sci

In [134]:
list(enumerate(subjects))

[(0, 'kor'), (1, 'eng'), (2, 'math'), (3, 'sci')]

In [135]:
for idx,subj in enumerate(subjects):
    print(idx+1,subj)

1 kor
2 eng
3 math
4 sci

### 4.3 zip
- 여러개의 리스트를 같은 인덱스끼리 묶어주는

In [2]:
subjects=["kor","eng","math","sci"]
points=[100,80,90,94]
list(zip(subjects,points))

[('kor', 100), ('eng', 80), ('math', 90), ('sci', 94)]

In [144]:
result ={}
for subjects,points in zip(subjects,points):
    result[subjects] =  points
result

{'kor': 100, 'eng': 80, 'math': 90, 'sci': 94}

In [150]:
dict(zip(subjects,points))

{'kor': 100, 'eng': 80, 'math': 90, 'sci': 94}

In [3]:
zip(subjects,points)

#### *랜덤함수

In [152]:

import random

In [153]:
# 1~10 까지 랜덤하게 수 뽑고 싶으면?
random.randint(1,10)

5

In [156]:
# 특정 수 중 랜덤하게 수 뽑고 싶으면?
random.choice([1,5,7])

1

### quiz
- 로또번호 출력
- 1~45 까지 중복되지 않게 6개

In [192]:
result = []

ball = list(range(45))

while len(result) < 6:

    pick = random.choice(ball)
    
    if (pick not in result):
    
        result.append(pick) 

result.sort()

result

[1, 5, 10, 15, 22, 36]

In [193]:
result = []

while True:
    
    number = random.randint(1,45)
    
    if number not in result:
        
        result.append(number)
        
    if len(result) == 6:
        
        result.sort()
        
        break

result

[5, 9, 12, 29, 37, 39]

## list comprehension
- list data를 만들어주는 방법
- for 문 보다 빠르게 동작합니다

In [23]:
ls = [0,1,2,3,4]
ls2 = [i**2 for i in ls]
ls2

[0, 1, 4, 9, 16]

In [25]:
## with 삼항연산
ls = [0,1,2,3,4]
ls2 = [ "홀수" if i % 2 else "짝수" for i in ls]
ls2

['짝수', '홀수', '짝수', '홀수', '짝수']

In [29]:
## filter
ls = range(10)
ls2 = [ i for i in ls if i % 2]
ls2

[1, 3, 5, 7, 9]

In [35]:
ls = [1,2,3]
ls2 = [ func for func in dir(ls) if func[:2] != "__" and func[0] == "c"]
ls2

['clear', 'copy', 'count']

In [ ]:
## for문과 list comprehension 성능비교

In [49]:
%%timeit
ls = []
for num in range(1,10001):
    if num % 3 == 0:
        ls.append(num)
len(ls)

1.19 ms ± 144 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [50]:
%%timeit
[num for num in range(1,10001) if num % 3 == 0]
len(ls)

793 µs ± 30.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)